@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_MainLayoutHeaderComponentPartial")
<body>
    @await Component.InvokeAsync("_MainLayoutSpinnerComponentPartial")
    @await Component.InvokeAsync("_MainLayoutTopBarComponentPartial")
    @await Component.InvokeAsync("_MainLayoutNavbarHeroComponentPartial")
    @RenderBody()
    @await Component.InvokeAsync("_MainLayoutFooterComponentPartial")
    @await Component.InvokeAsync("_MainLayoutCopyrightComponentPartial")
    @await Component.InvokeAsync("_MainLayoutBackToTopComponentPartial")
    @await Component.InvokeAsync("_MainLayoutScriptsComponentPartial")


    @RenderSection("Scripts", required: false)
</body>
</html>